/* Global styles */
body {
  background-color: #f1f1f1;
  font-family: Arial;
}

/* Header styles */
p {
  color: #666;
}

.status-bar p {
  color: #666;
  padding: 12px 16px;
}

.status-bar .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.status-bar .btn:hover {
  background-color: #ddd;
}

.status-bar .btn:active {
  background-color: #6c757d;
  color: white;
}

.status-bar i{
  color: #666;
}

/* Image styles */
.raw-image {
  width: 100% 
}

@media only screen and (max-width: 1500px) {
  .raw-image {
    width: 60% 
  }
}

/* Modal styles */
.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border: none !important;
}

.modal-dialog {
  max-width: 50% !important;
}