body {
  background-color: black;
}

p {
  color: #6c757d;
}

.status-bar i{
  color: green;
}

.bands {
  width: 100%;
}

.raw-image {
  width: 100% 
}

@media only screen and (max-width: 1500px) {
  .raw-image {
    width: 60% 
  }
}